/* http://fonts.googleapis.com/css?family=Press+Start+2P */
@font-face
{
	font-family: 'Press Start 2P';
	font-style: normal;
	font-weight: 400;
	src: local('Press Start 2P'), local('PressStart2P-Regular'), url(arcade.woff) format('woff');
}

body
{
	padding: 1em;
	font-family: 'Press Start 2P', cursive;
	overflow: hidden;
}

input, a, img
{
	font-family: 'Press Start 2P';
	font-size: 10px;
	outline: none;
	padding: 5px;
	margin: 5px;
}

#game
{
	margin: auto;
	border: 1px solid #000000;
	background-color: #b6de9f;
	overflow: hidden;
	font-size: 0;
}

#game > .block
{
	margin: 0;
	display: inline-block;
}

#game > .snake
{
	background-color: #484a45;
}

#game > #fruit
{
	background-color: #ffffff;
}

#score
{
	padding: 5px;
	text-align:center;
}

#info
{
	margin: auto;
	border: 1px solid #000000;	
	font-size: 10px;
}

#info.main
{
	background-color: #b6de9f;
}

#info.about
{
	background-color: #ffffff;
}

#info > p
{
	text-align: center;
	padding: 5px;
}

#info > form
{
	text-align: center;
}